---
import { app, db } from '../firebase.js'

const querySnapshot = await db.collection("users").get();
console.log(querySnapshot.docs);
---
<section>
  <h2>Firebase</h2>
  <div>
    {querySnapshot.docs}
  </div>
</section>
