---
import { app, db } from '../firebase.js'
import { collection, getDocs } from "firebase/firestore";

const querySnapshot = await getDocs(collection(db, "astro"));
console.log(querySnapshot.docs);
---
<section>
  <h2>Firebase</h2>
  <div>
    {querySnapshot.docs}
  </div>
</section>
